repos:
- repo: https://github.com/kynan/nbstripout
  rev: 0.9.0
  hooks:
    - id: nbstripout
      name: nbstripout
      entry: nbstripout
      language: python
      types: [file, json, jupyter, non-executable, text]

